.footer_info{width:7.5rem;background:#111720;text-align:center;padding:0.5rem 0.3rem;}
.zdCode{width:1.36rem;height:1.36rem;}
.followTip{font-size:0.24rem;color:#106fb3;padding:0.26rem 0 0.46rem;}
.consultNum{width:6rem;height:0.8rem;border:1px solid #1066a5;text-align:center;line-height:0.8rem;margin:0 auto;font-size:0.28rem;color:#fff;}
.zdCopyRight{color:#3b4a62;font-size:0.2rem;padding-top:0.34rem;}
.zdCopyRight span{display:block;margin-top:0.16rem;}














