<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众大技术</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="assets/css/public/reset.css">
    <link rel="stylesheet" href="assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/public/swiper.min.css">
    <link rel="stylesheet" href="assets/css/public/publicHead.css">
    <link rel="stylesheet" href="assets/css/public/publicFoot.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="assets/css/productInfo.css">
</head>
<body>
    <header class="header_info clearfix">
        <h1 class="head_L"><a href="javascript:;"></a></h1>
        <h3 class="head_C"></h3>
        <div class="head_R clearfix">
            <a href="javascript:;" class="userIcon"></a>
            <a href="javascript:;" class="menuIcon" data-toggle="modal" data-target="#myNav"></a>
        </div>
    </header>
    <div class="occupyPos"></div>

    <div class="eachProBan messBelongBan clearfix">
        <a href="javascript:;" class="applyBtn">申请API</a>
        <a href="javascript:;" class="applyBtn">申请签名</a>
    </div>

    <div class="proDetailsCon">
        <h3 class="detailTit">应用介绍</h3>
        <div class="detailText">
            <p>当前仅支持发送手机验证码短信，格式：【签名】您的验证码为：0000(指定不超过六位数字验证码)，有效时间10(指定不超过5位数字)分钟，请尽快完成验证。</p>
        </div>
    </div>
    <div class="queryCon">
        <h3 class="detailTit">查询</h3>
        <div class="tableBox">
            <table class="futWea logTable">
                <tr>
                    <th>账户余额</th>
                    <th>单次查询</th>
                    <th>免费查询剩余次数</th>
                </tr>
                <tr class="queryData">
                    <td>0元</td>
                    <td>1元/次</td>
                    <td>0次</td>
                </tr>
            </table>
        </div>
        <div class="queryBox clearfix">
            <div class="selectStyleBox">
                <select name="" id="" class="form-control selAutograph">
                    <option value="">请选择签名</option>
                    <option value="">选项一</option>
                </select>
                <i class="selArrowBottom"></i>
            </div>
            <input type="text" class="personId form-control " placeholder="手机号码">
            <input type="text" class="personId form-control " placeholder="自定义6位数字短信验证码">
            <input type="text" class="personId form-control noneMarBot" placeholder="设置短信验证码有效时间，整数（单位：分钟）">
        </div>
        <div class="errorBox"><label for="">请输入...</label></div>
        <a href="javascript:;" class="publicBtn phoNameBtn">发送短信</a>
        <div class="queResBox">
            <h3 class="queResTit">短信内容：</h3>
            <div class="messCon">
                <b>【众大技术】：</b>
                <span>短信内容...短信内容...短信内容...短信内容...短信内容...短信内容...</span>
            </div>
        </div>
    </div>

    <footer class="footer_info">
        <img src="assets/images/public/zdCode.png" class="zdCode" />
        <p class="followTip">长按识别或截图保存关注微信公众号</p>
        <p class="consultNum">咨询电话：400-0000-1111</p>
        <p class="zdCopyRight">
            <span>Copyright © 2018-2019  mbiger . All Rights Reserved </span>
            <span>众大技术  版权所有</span>
        </p>
    </footer>
    <script type="text/javascript" src="assets/js/public/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/js/public/fontsizeset.js"></script>
    <script type="text/javascript" src="assets/js/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/public/swiper.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>