<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众大技术</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="assets/css/public/reset.css">
    <link rel="stylesheet" href="assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/public/swiper.min.css">
    <link rel="stylesheet" href="assets/css/public/publicHead.css">
    <link rel="stylesheet" href="assets/css/public/publicFoot.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="assets/css/accountCenter.css">
</head>
<body>
    <header class="header_info clearfix">
        <h1 class="head_L"><a href="javascript:;" class="arrowLeft"></a></h1>
        <h3 class="head_C">APPSECRET重置</h3>
        <div class="head_R clearfix"><span class="rightTit"></span></div>
    </header>
    <div class="occupyPos"></div>

    <div class="asReset">
        <h3>AppSecret：</h3>
        <span>881c4a412ae54439b7cd086bed271853</span>
        <p>说明：AppSecrect 是API调用需传递的关键参数，重置后API调用所对应参数也要随之改变。</p>
    </div>

    <a href="javascript:;" class="publicBtn" data-toggle="modal" data-target="#appSecReset">重置</a>

    <!--①底部两个按钮的提示框 start-->
    <div class="modal fade" id="appSecReset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog applyApiLog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">重要提示</h4>
                </div>
                <div class="modal-body">
                    <div class="appSecCon">
                        <p>您确定要重置AppSecrect？</p>
                        <span>重置后API调用所对应参数也要随之改变。</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="applyMBtn">
                        <a href="javascript:;" data-dismiss="modal" class="appCancelBtn">取消</a>
                        <a href="javascript:;" class="appSureBtn">确认</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--①底部两个按钮的提示框 end-->

    <script type="text/javascript" src="assets/js/public/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/js/public/fontsizeset.js"></script>
    <script type="text/javascript" src="assets/js/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/public/swiper.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>