<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众大技术</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="assets/css/public/reset.css">
    <link rel="stylesheet" href="assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/public/swiper.min.css">
    <link rel="stylesheet" href="assets/css/public/publicHead.css">
    <link rel="stylesheet" href="assets/css/public/publicFoot.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="assets/css/productInfo.css">
</head>
<body>
    <header class="header_info clearfix">
        <h1 class="head_L"><a href="javascript:;"></a></h1>
        <h3 class="head_C"></h3>
        <div class="head_R clearfix">
            <a href="javascript:;" class="userIcon"></a>
            <a href="javascript:;" class="menuIcon" data-toggle="modal" data-target="#myNav"></a>
        </div>
    </header>
    <div class="occupyPos"></div>

    <div class="eachProBan iPBelongBan">
        <a href="javascript:;" class="applyBtn">申请API</a>
    </div>

    <div class="proDetailsCon">
        <h3 class="detailTit">应用介绍</h3>
        <div class="detailText">
            <p>支持国内外IP，全球覆盖99.99%以上，实时更新，平均响应时间小。</p>
        </div>
    </div>
    <div class="queryCon">
        <h3 class="detailTit">免费查询</h3>
        <div class="queryBox clearfix">
            <input type="text" class="inText form-control" placeholder="请输入要查询IP">
            <a href="javascript:;" class="queryBtn" data-target="#queryModal" data-toggle="modal">查询</a>
        </div>
        <div class="errorBox"><label for="">请输入...</label></div>
        <div class="queResBox">
            <h3 class="queResTit">查询结果：</h3>
            <table class="queResCon">
                <tr>
                    <th><span>归属地</span></th>
                    <td>保留 对方和您在同一内部网</td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer_info">
        <img src="assets/images/public/zdCode.png" class="zdCode" />
        <p class="followTip">长按识别或截图保存关注微信公众号</p>
        <p class="consultNum">咨询电话：400-0000-1111</p>
        <p class="zdCopyRight">
            <span>Copyright © 2018-2019  mbiger . All Rights Reserved </span>
            <span>众大技术  版权所有</span>
        </p>
    </footer>
    <script type="text/javascript" src="assets/js/public/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/js/public/fontsizeset.js"></script>
    <script type="text/javascript" src="assets/js/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/public/swiper.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>