<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众大技术</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="assets/css/public/reset.css">
    <link rel="stylesheet" href="assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/public/swiper.min.css">
    <link rel="stylesheet" href="assets/css/public/publicHead.css">
    <link rel="stylesheet" href="assets/css/public/publicFoot.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="assets/css/productInfo.css">
</head>
<body>
    <header class="header_info clearfix">
        <h1 class="head_L"><a href="javascript:;"></a></h1>
        <h3 class="head_C"></h3>
        <div class="head_R clearfix">
            <a href="javascript:;" class="userIcon"></a>
            <a href="javascript:;" class="menuIcon" data-toggle="modal" data-target="#myNav"></a>
        </div>
    </header>
    <div class="occupyPos"></div>

    <div class="eachProBan iPBelongBan">
        <a href="javascript:;" class="applyBtn">申请API</a>
    </div>

    <div class="proDetailsCon">
        <h3 class="detailTit">应用介绍</h3>
        <div class="detailText">
            <p>公安部驾照考试题库；</p>
            <p>考题种类齐全，分类明确；</p>
            <p>考题可按顺序或者随机页数两种方试获取。</p>
        </div>
    </div>
    <div class="queryCon">
        <h3 class="detailTit">免费查询</h3>
        <div class="queryBox clearfix driTestBox">
            <div class="selSelBox clearfix">
                <div class="selectStyle">
                    <select name="" class="form-control">
                        <option value="">科目类型</option>
                        <option value="">科目一</option>
                        <option value="">科目二</option>
                        <option value="">科目三</option>
                    </select>
                    <i class="selArrowBottom1"></i>
                </div>
                <div class="selectStyle">
                    <select name="" class="form-control">
                        <option value="">准驾类型</option>
                        <option value="">A1</option>
                        <option value="">B1</option>
                        <option value="">C1</option>
                    </select>
                    <i class="selArrowBottom2"></i>
                </div>
            </div>

            <a href="javascript:;" class="queryBtn driTestBtn">查询</a>
        </div>
        <div class="errorBox"><label for="">请选择...</label></div>
        <div class="queResBox">
            <h3 class="queResTit">题库内容：</h3>
            <div class="itemCon">
                <p class="itemQues">1.驾驶机动车在道路上违反道路交通安全法的行为，属于什么行为？</p>
                <div class="keyBox">
                    <ul class="subjectCon">
                        <li class="clearfix"><b>A</b><p>违章行为</p></li>
                        <li class="clearfix"><b class="rightKey">B</b><p>违章行为</p></li>
                        <li class="clearfix"><b>C</b><p>违章行为</p></li>
                        <li class="clearfix"><b>D</b><p>违章行为</p></li>
                    </ul>
                    <ul class="answerCon">
                        <li class="clearfix"><span>问题答案：</span><p>B</p></li>
                        <li class="clearfix"><span>相关解释：</span><p>违反《道路交通安全法》，属于违法行为。</p></li>
                        <li class="clearfix"><span>对应章节：</span><p>道路交通安全法律、法规和规章</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer_info">
        <img src="assets/images/public/zdCode.png" class="zdCode" />
        <p class="followTip">长按识别或截图保存关注微信公众号</p>
        <p class="consultNum">咨询电话：400-0000-1111</p>
        <p class="zdCopyRight">
            <span>Copyright © 2018-2019  mbiger . All Rights Reserved </span>
            <span>众大技术  版权所有</span>
        </p>
    </footer>
    <script type="text/javascript" src="assets/js/public/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/js/public/fontsizeset.js"></script>
    <script type="text/javascript" src="assets/js/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/public/swiper.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>