<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众大技术</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="assets/css/public/reset.css">
    <link rel="stylesheet" href="assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/public/swiper.min.css">
    <link rel="stylesheet" href="assets/css/public/publicHead.css">
    <link rel="stylesheet" href="assets/css/public/publicFoot.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="assets/css/productInfo.css">
</head>
<body>
    <header class="header_info clearfix">
        <h1 class="head_L"><a href="javascript:;"></a></h1>
        <h3 class="head_C"></h3>
        <div class="head_R clearfix">
            <a href="javascript:;" class="userIcon"></a>
            <a href="javascript:;" class="menuIcon" data-toggle="modal" data-target="#myNav"></a>
        </div>
    </header>
    <div class="occupyPos"></div>

    <div class="eachProBan logBelongBan">
        <a href="javascript:;" class="applyBtn">申请API</a>
    </div>

    <div class="proDetailsCon">
        <h3 class="detailTit">应用介绍</h3>
        <div class="detailText">
            <p>数据准确，支持中国:顺丰、申通、圆通、韵达、中通、汇通、EMS等，国外：美、饿、日韩、香港、马来西亚等近500家快递物流。</p>
        </div>
    </div>
    <div class="queryCon">
        <h3 class="detailTit">查询</h3>
        <div class="tableBox">
            <table class="futWea">
                <tr>
                    <th>账户余额</th>
                    <th>单次查询</th>
                    <th>免费查询剩余次数</th>
                </tr>
                <tr class="queryData">
                    <td>0元</td>
                    <td>1元/次</td>
                    <td>0次</td>
                </tr>
            </table>
        </div>
        <div class="queryBox clearfix">
            <input type="text" class="inText form-control" placeholder="快递单号">
            <a href="javascript:;" class="queryBtn">查询</a>
        </div>
        <div class="errorBox"><label for="">请输入...</label></div>
        <div class="queResBox">
            <h3 class="queResTit">查询结果：</h3>
            <table class="queResCon expressCon">
                <tr>
                    <th><span>快递单号</span></th>
                    <td>3833930287389</td>
                </tr>
                <tr>
                    <th><span>快递公司名称</span></th>
                    <td>YD</td>
                </tr>
                <tr>
                    <th><span>快递公司网址</span></th>
                    <td><p>www.yundaex.com</p></td>
                </tr>
                <tr>
                    <th><span>快递公司联系电话</span></th>
                    <td><p>95546</p></td>
                </tr>
                <tr>
                    <th><span>快递物流跟踪信息</span></th>
                    <td>
                        <p>2019-03-06 17:47:38[浙江永嘉县公司]进行揽件扫描</p>
                        <p>2019-03-06 17:47:38[浙江永嘉县公司]进行揽件扫描</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer_info">
        <img src="assets/images/public/zdCode.png" class="zdCode" />
        <p class="followTip">长按识别或截图保存关注微信公众号</p>
        <p class="consultNum">咨询电话：400-0000-1111</p>
        <p class="zdCopyRight">
            <span>Copyright © 2018-2019  mbiger . All Rights Reserved </span>
            <span>众大技术  版权所有</span>
        </p>
    </footer>
    <script type="text/javascript" src="assets/js/public/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="assets/js/public/fontsizeset.js"></script>
    <script type="text/javascript" src="assets/js/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/public/swiper.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>