<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>众大技术-注册</title>
    <!--当前页面样式-->
    <link rel="stylesheet" th:href="@{/css/zdIndex.css}">
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="/common/header :: commonHeader('navigation')"></div>

<div class="bannerBox">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="javascript:;"><img th:src="@{/images/zdjs/banner1.png}"/></a></div>
            <div class="swiper-slide"><a href="javascript:;"><img th:src="@{/images/zdjs/banner2.png}"/></a></div>
            <div class="swiper-slide"><a href="javascript:;"><img th:src="@{/images/zdjs/banner3.png}"/></a></div>
            <div class="swiper-slide"><a href="javascript:;"><img th:src="@{/images/zdjs/banner4.png}"/></a></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<div th:if="${loginFlag == false}" class="tipRegBox clearfix">
    <p class="tipRegText">现在注册，免费体验多款云产品</p>
    <a th:href="@{/register/index}" class="freeRegBtn">免费注册</a>
</div>

<div class="indexMod">
    <h3 class="modTit">我们的云产品</h3>
    <ul class="cloudProList clearfix">
        <li>
            <a href="javascript:;" class="cloSa">
                <span class="cloName">SaaS</span>
                <p class="cloIntro">完整的可直接使用的应用程序</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="cloPa">
                <span class="cloName">PaaS</span>
                <p class="cloIntro">提供各种开发或分发应用的解决方案</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="cloLa">
                <span class="cloName">LaaS</span>
                <p class="cloIntro">完善的计算机基础设施用户能够部署和运行任意软件</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="cloCus">
                <span class="cloName">定制研发</span>
                <p class="cloIntro">整体解决方案，专业定制、专注研发</p>
            </a>
        </li>
    </ul>
</div>
<div class="indexMod">
    <h3 class="modTit">项目流程</h3>
    <p class="proFlow">
        <img th:src="@{/images/zdjs/proFlow.png}"/>
    </p>
</div>

<!-- 成功案例 start -->
<div th:replace="/common/module :: successCase"></div>
<!-- 成功案例 end -->

<!-- 公共尾部 start -->
<div th:replace="/common/footer :: commonFooter"></div>
<!-- 公共尾部 end -->

<!-- 公共JS start -->
<div th:include="/common/publicJs :: onloadJS"></div>
<!-- 公共JS start -->

<script type="text/javascript" th:src="@{/js/public/swiper.min.js}"></script>
<script>
        $(document).ready(function(){
            $(function(){
                //banner 轮播图
                var mySwiperBanner = new Swiper ('.bannerBox .swiper-container', {
                    loop: true, // 循环模式选项
                    autoplay:{
                        delay:2200
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });

                //成功案例 轮播图
                var swiper = new Swiper('.succCaseBox .swiper-container', {
                    loop:true,
                    autoplay:true,
                    slidesPerView:3,
                    observer:true,
                    observeParents:true,
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 30,
                        stretch: 10,
                        depth: 150,
                        modifier: 1,
                        slideShadows : true,
                    },
                    /*pagination: {
                        el: '.swiper-pagination',
                    },*/
                });
            });

            $(function(){
                //导航部分文档下载PDF文件
                $('.downDoc').click(function(){
                    if($('.pdfInfo').is(":visible")){
                        $('.pdfInfo').slideUp();
                        $('.downDoc i').css("transform","rotate(180deg)");
                    }else{
                        $('.pdfInfo').slideDown();
                        $('.downDoc i').css("transform","rotate(0deg)");
                    }
                });
            });
        });

</script>
</body>
</html>