<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--foot start-->
<div class="footerBox" th:fragment="commonFooter">
    <footer class="footer_info">
        <img th:src="@{/images/public/zdCode.png}" class="zdCode" />
        <p class="followTip">长按识别或截图保存关注微信公众号</p>
        <p class="consultNum">咨询电话：400-0000-1111</p>
        <p class="zdCopyRight">
            <span>Copyright © 2018-2019  mbiger . All Rights Reserved </span>
            <span>众大技术  版权所有</span>
        </p>
    </footer>
</div>
<!--foot end-->
</html>